body {

  text-align: center;
}



button {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}


#red {
  background-color: #FF3E3E;
}

#green {
  background-color: #4CAF50;
}

#blue {
  background-color: #2196F3;
}

#yellow {
  background-color: #FFD600;
}

.flash {
  opacity: 0.5;
}
